.label {
    -fx-font-family: "Arial"; /* Set the font family to Arial */
    -fx-font-size: 15px; /* Set the font size to 16 pixels */
    -fx-text-fill: #000000; /* Set the text color to black */
    -fx-padding: 8px; /* Set the padding to 10 pixels */
    -fx-border-color: #fcfbfb; /* Set the border color to light gray */
    -fx-border-width: 1px; /* Set the border width to 1 pixel */
    -fx-border-radius: 5px; /* Set the border radius to 5 pixels */
    -fx-alignments: center; /* Set the alignment to center */
  }